<!-- Belongs at: /_includes/navigation.html -->

<!-- Then we build the nav bar. -->
<p style="text-align: center; background-color: white;">
  <a href="{{site.baseurl}}/docs/bios">The Authors</a><br>
  <a href="{{site.baseurl}}/">Home</a><br>
  <a href="{{site.baseurl}}/docs/0">Importing Libraries and Datasets</a><br><br>
  The waterbodies:<br>
  <a href="{{site.baseurl}}/docs/doganella">Doganella</a><br> 
  <a href="{{site.baseurl}}/docs/luco">Luco</a><br>
  <a href="{{site.baseurl}}/docs/auser">Auser</a><br>
  <a href="{{site.baseurl}}/docs/lupa">Lupa</a><br>
  <a href="{{site.baseurl}}/docs/canneto">Madonna di Canneto</a><br>
  <a href="{{site.baseurl}}/docs/arno">Arno</a><br>
  <a href="{{site.baseurl}}/docs/bilancino">Bilancino</a><br>
</p>
